ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

li {
  padding: 10px;
  width: 250px;
  max-width: 250px;
  max-height: 400px;
}

.card {
  padding: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 10px #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > img {
  width: 100%;
  height: 50%;
}

.card article {
  padding: 5px;
}

.card h3{
  padding: 4px;
}

.card p {
  padding: 3px;
}